// Your custom SCSS should be written here...

@import "blueprint";
@import "blueprint/fancy-type";


$alternate-text-font: "Open Sans";
body {
    @include fancy-type;

    p + p {
        text-indent: 0;
        margin-top: auto;
    }

    .alt {
        color: rgba(0,0,0,0.5);
    }
}

td, th {
    padding: 0.5em;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

h1 {
   .btn {
        vertical-align: middle;
   }
}

.data-table .details {
    font-size: 0.8em;
}

.filtered {
    background: rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.5);

    a {
        color: rgba(0,0,0,0.5);
    }
}

.action-links {

    a i {
            color: rgba(0,0,0,0.7);
    }

}

.list-item {
    background: rgba(0,0,0,0.02);
    margin: 1em 0;
    padding: 0.5em;

    h3 {
        @include inline-block;
    }
    .action-links {
        float: right;
        line-height: 3em;
        @include inline-block;
    }
}

.competition-item {

}

.athlete-name {
    text-align: right;
}