// Your custom SCSS should be written here...

@import "blueprint";


body {

}

td, th {
    padding: 1em;
}

.data-table .details {
    font-size: 0.8em;
}

.filtered {
    background: rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.5);

    a {
        color: rgba(0,0,0,0.5);
    }
}