.DS_Store
.sass-cache
build/api
build/phpdox
build/coverage
build/logs
src/lib/Zend
src/tmp/zend*
src/tmp/sess*
src/log/*.log
cache.properties
src/etc/httpd-rxcompetition.com.conf
src/etc/nginx-rxcompetition.com.conf
