/* Gumby */
/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Links
:: Lists
:: Tables
:: Misc
*/
/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
/* line 37, ../../app/views/sass/gumby.hybrid.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 44, ../../app/views/sass/gumby.hybrid.scss */
html {
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
/* line 49, ../../app/views/sass/gumby.hybrid.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 52, ../../app/views/sass/gumby.hybrid.scss */
body {
  line-height: 1;
}

/* line 55, ../../app/views/sass/gumby.hybrid.scss */
ol, ul {
  list-style: none;
}

/* line 58, ../../app/views/sass/gumby.hybrid.scss */
blockquote, q {
  quotes: none;
}

/* line 62, ../../app/views/sass/gumby.hybrid.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 66, ../../app/views/sass/gumby.hybrid.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 72, ../../app/views/sass/gumby.hybrid.scss */
.left, .columns.left {
  float: left;
}

/* line 73, ../../app/views/sass/gumby.hybrid.scss */
.right, .columns.right {
  float: right;
}

/* line 74, ../../app/views/sass/gumby.hybrid.scss */
.hide {
  display: none;
}

/* line 75, ../../app/views/sass/gumby.hybrid.scss */
.highlight {
  background: #fcf8bf;
}

/*=======================================================================

	❤❤❤ Artfully Masterminded by ZURB. Perfected by Digital Surgeons. ❤❤❤
 
 ========================================================================*/
/* line 86, ../../app/views/sass/gumby.hybrid.scss */
.ie9, .ie9 * {
  font-family: Arial, "Definitely Not Helvetica", sans-serif !important;
}

/* line 90, ../../app/views/sass/gumby.hybrid.scss */
body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/*=====================================================
 
 	Headings
 	
 ======================================================*/
/* line 110, ../../app/views/sass/gumby.hybrid.scss */
h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  font-weight: bold;
  line-height: 1.6;
}

/* line 116, ../../app/views/sass/gumby.hybrid.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 120, ../../app/views/sass/gumby.hybrid.scss */
h1 {
  font-size: 46px;
  font-size: 4.6rem;
  margin-bottom: 12px;
}

/* line 126, ../../app/views/sass/gumby.hybrid.scss */
h2 {
  font-size: 39px;
  font-size: 3.9rem;
  margin-bottom: 9px;
}

/* line 132, ../../app/views/sass/gumby.hybrid.scss */
h3 {
  font-size: 29px;
  font-size: 2.9rem;
  margin-bottom: 9px;
}

/* line 138, ../../app/views/sass/gumby.hybrid.scss */
h4 {
  font-size: 25px;
  font-size: 2.5rem;
  margin-bottom: 3px;
}

/* line 144, ../../app/views/sass/gumby.hybrid.scss */
h5 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: normal;
  margin-bottom: 3px;
}

/* line 151, ../../app/views/sass/gumby.hybrid.scss */
h6 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: normal;
}

/* line 157, ../../app/views/sass/gumby.hybrid.scss */
.subhead {
  color: #777;
  font-weight: normal;
  margin-bottom: 20px;
}

/*=====================================================
 
 	Links & Paragraph styles
 	
 	======================================================*/
/* line 170, ../../app/views/sass/gumby.hybrid.scss */
p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 0 18px;
}

/* line 177, ../../app/views/sass/gumby.hybrid.scss */
p img {
  margin: 0;
}

/* line 181, ../../app/views/sass/gumby.hybrid.scss */
p.lead {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 186, ../../app/views/sass/gumby.hybrid.scss */
a {
  color: #d04526;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
}

/* line 187, ../../app/views/sass/gumby.hybrid.scss */
a:hover {
  color: #c03d20;
}

/* line 188, ../../app/views/sass/gumby.hybrid.scss */
p a, p a:visited {
  line-height: inherit;
}

/*=====================================================

 	Lists
 	
 ======================================================*/
/* line 197, ../../app/views/sass/gumby.hybrid.scss */
ul, ol {
  margin-bottom: 18px;
}

/* line 198, ../../app/views/sass/gumby.hybrid.scss */
ul {
  list-style: none outside;
}

/* line 199, ../../app/views/sass/gumby.hybrid.scss */
ol {
  list-style: decimal;
}

/* line 200, ../../app/views/sass/gumby.hybrid.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 201, ../../app/views/sass/gumby.hybrid.scss */
ul.square {
  list-style: square outside;
}

/* line 202, ../../app/views/sass/gumby.hybrid.scss */
ul.circle {
  list-style: circle outside;
}

/* line 203, ../../app/views/sass/gumby.hybrid.scss */
ul.disc {
  list-style: disc outside;
}

/* line 204, ../../app/views/sass/gumby.hybrid.scss */
ul ul, ol ol {
  margin: 4px 0 5px 30px;
}

/* line 205, ../../app/views/sass/gumby.hybrid.scss */
li {
  margin-bottom: 12px;
}

/* line 206, ../../app/views/sass/gumby.hybrid.scss */
ul.large li {
  line-height: 21px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /* line 214, ../../app/views/sass/gumby.hybrid.scss */
  body, p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
/* line 217, ../../app/views/sass/gumby.hybrid.scss */
em {
  font-style: italic;
  line-height: inherit;
}

/* line 222, ../../app/views/sass/gumby.hybrid.scss */
strong {
  font-weight: bold;
  line-height: inherit;
}

/* line 227, ../../app/views/sass/gumby.hybrid.scss */
small {
  font-size: 56.4%;
  line-height: inherit;
}

/* line 232, ../../app/views/sass/gumby.hybrid.scss */
h1 small, h2 small, h3 small, h4 small, h5 small {
  color: #777;
}

/*	Blockquotes  */
/* line 235, ../../app/views/sass/gumby.hybrid.scss */
blockquote, blockquote p {
  line-height: 20px;
  color: #777;
}

/* line 236, ../../app/views/sass/gumby.hybrid.scss */
blockquote {
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 237, ../../app/views/sass/gumby.hybrid.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #555;
}

/* line 238, ../../app/views/sass/gumby.hybrid.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 239, ../../app/views/sass/gumby.hybrid.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 241, ../../app/views/sass/gumby.hybrid.scss */
hr {
  border: 1px solid #ddd;
  clear: both;
  margin: 16px 0 18px;
  height: 0;
}

/* line 248, ../../app/views/sass/gumby.hybrid.scss */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

/* line 256, ../../app/views/sass/gumby.hybrid.scss */
abbr {
  text-transform: none;
}

/**
	 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
 */
@media print {
  /* line 267, ../../app/views/sass/gumby.hybrid.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 269, ../../app/views/sass/gumby.hybrid.scss */
  p a, p a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 270, ../../app/views/sass/gumby.hybrid.scss */
  p a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 271, ../../app/views/sass/gumby.hybrid.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 272, ../../app/views/sass/gumby.hybrid.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 273, ../../app/views/sass/gumby.hybrid.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 274, ../../app/views/sass/gumby.hybrid.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 275, ../../app/views/sass/gumby.hybrid.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 277, ../../app/views/sass/gumby.hybrid.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 278, ../../app/views/sass/gumby.hybrid.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/*=======================================================================

	❤❤❤ Genius secreted from the brains of Digital Surgeons. ❤❤❤
 
 ========================================================================*/
/*=================================================

	+++ LE GRID +++
	A Responsive Grid -- Gumby defaults to a standard 960 grid, 
	but you can change it to whatever you'd like.
 
 ==================================================*/
/* line 303, ../../app/views/sass/gumby.hybrid.scss */
.container {
  padding: 0px 20px;
}

/* line 305, ../../app/views/sass/gumby.hybrid.scss */
.row {
  width: 100%;
  max-width: 940px;
  min-width: 720px;
  margin: 0 auto;
}

/* To fix the grid into a different size, set max-width to your desired width */
/* line 308, ../../app/views/sass/gumby.hybrid.scss */
.row .row {
  min-width: 0px;
}

/* line 310, ../../app/views/sass/gumby.hybrid.scss */
.column, .columns {
  margin-left: 2.127663%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 316, ../../app/views/sass/gumby.hybrid.scss */
.column:first-child, .columns:first-child, .alpha {
  margin-left: 0px;
}

/* line 318, ../../app/views/sass/gumby.hybrid.scss */
.column.omega, .columns.omega {
  float: right;
}

/*** Removed because it is usually annoying ***
 
 [class*="column"] + [class*="column"]:last-child { float: right; }

***/
/* line 326, ../../app/views/sass/gumby.hybrid.scss */
.row .one.columns {
  width: 6.382989%;
}

/* line 327, ../../app/views/sass/gumby.hybrid.scss */
.row .two.columns {
  width: 14.893641%;
}

/* line 328, ../../app/views/sass/gumby.hybrid.scss */
.row .three.columns {
  width: 23.404293%;
}

/* line 329, ../../app/views/sass/gumby.hybrid.scss */
.row .four.columns {
  width: 31.914945%;
}

/* line 330, ../../app/views/sass/gumby.hybrid.scss */
.row .five.columns {
  width: 40.425597%;
}

/* line 331, ../../app/views/sass/gumby.hybrid.scss */
.row .six.columns {
  width: 48.936249%;
}

/* line 332, ../../app/views/sass/gumby.hybrid.scss */
.row .seven.columns {
  width: 57.446901%;
}

/* line 333, ../../app/views/sass/gumby.hybrid.scss */
.row .eight.columns {
  width: 65.957553%;
}

/* line 334, ../../app/views/sass/gumby.hybrid.scss */
.row .nine.columns {
  width: 74.468205%;
}

/* line 335, ../../app/views/sass/gumby.hybrid.scss */
.row .ten.columns {
  width: 82.978857%;
}

/* line 336, ../../app/views/sass/gumby.hybrid.scss */
.row .eleven.columns {
  width: 91.489509%;
}

/* line 337, ../../app/views/sass/gumby.hybrid.scss */
.row .twelve.columns {
  width: 100%;
}

/*** Formula: Column Width + Twice the Default Margin ***/
/* line 342, ../../app/views/sass/gumby.hybrid.scss */
.row .push_one {
  margin-left: 10.638315%;
}

/* line 343, ../../app/views/sass/gumby.hybrid.scss */
.row .push_two {
  margin-left: 19.148967%;
}

/* line 344, ../../app/views/sass/gumby.hybrid.scss */
.row .push_three {
  margin-left: 27.659619%;
}

/* line 345, ../../app/views/sass/gumby.hybrid.scss */
.row .push_four {
  margin-left: 36.170271%;
}

/* line 346, ../../app/views/sass/gumby.hybrid.scss */
.row .push_five {
  margin-left: 44.680923%;
}

/* line 347, ../../app/views/sass/gumby.hybrid.scss */
.row .push_six {
  margin-left: 53.191575%;
}

/* line 348, ../../app/views/sass/gumby.hybrid.scss */
.row .push_seven {
  margin-left: 61.702227%;
}

/* line 349, ../../app/views/sass/gumby.hybrid.scss */
.row .push_eight {
  margin-left: 70.212879%;
}

/* line 350, ../../app/views/sass/gumby.hybrid.scss */
.row .push_nine {
  margin-left: 78.723531%;
}

/* line 351, ../../app/views/sass/gumby.hybrid.scss */
.row .push_ten {
  margin-left: 87.234183%;
}

/*.row .push_eleven 	{ margin-left: 95.744835%;  }*/
/* Centering Columns is fun */
/* line 357, ../../app/views/sass/gumby.hybrid.scss */
.row .one.centered {
  margin-left: 46.808586%;
}

/* line 358, ../../app/views/sass/gumby.hybrid.scss */
.row .two.centered {
  margin-left: 42.55326%;
}

/* line 359, ../../app/views/sass/gumby.hybrid.scss */
.row .three.centered {
  margin-left: 38.297934%;
}

/* line 360, ../../app/views/sass/gumby.hybrid.scss */
.row .four.centered {
  margin-left: 34.042608%;
}

/* line 361, ../../app/views/sass/gumby.hybrid.scss */
.row .five.centered {
  margin-left: 29.787282%;
}

/* line 362, ../../app/views/sass/gumby.hybrid.scss */
.row .six.centered {
  margin-left: 25.531956%;
}

/* line 363, ../../app/views/sass/gumby.hybrid.scss */
.row .seven.centered {
  margin-left: 21.27663%;
}

/* line 364, ../../app/views/sass/gumby.hybrid.scss */
.row .eight.centered {
  margin-left: 17.021304%;
}

/* line 365, ../../app/views/sass/gumby.hybrid.scss */
.row .nine.centered {
  margin-left: 12.765978%;
}

/* line 366, ../../app/views/sass/gumby.hybrid.scss */
.row .ten.centered {
  margin-left: 8.510652%;
}

/* line 367, ../../app/views/sass/gumby.hybrid.scss */
.row .eleven.centered {
  margin-left: 4.255326%;
}

/*** Formula: Column Width + Default Margin ***/
/* line 372, ../../app/views/sass/gumby.hybrid.scss */
.row .push_one:first-child {
  margin-left: 8.510652%;
}

/* line 373, ../../app/views/sass/gumby.hybrid.scss */
.row .push_two:first-child {
  margin-left: 17.021304%;
}

/* line 374, ../../app/views/sass/gumby.hybrid.scss */
.row .push_three:first-child {
  margin-left: 25.531956%;
}

/* line 375, ../../app/views/sass/gumby.hybrid.scss */
.row .push_four:first-child {
  margin-left: 34.042608%;
}

/* line 376, ../../app/views/sass/gumby.hybrid.scss */
.row .push_five:first-child {
  margin-left: 42.55326%;
}

/* line 377, ../../app/views/sass/gumby.hybrid.scss */
.row .push_six:first-child {
  margin-left: 51.063912%;
}

/* line 378, ../../app/views/sass/gumby.hybrid.scss */
.row .push_seven:first-child {
  margin-left: 59.574564%;
}

/* line 379, ../../app/views/sass/gumby.hybrid.scss */
.row .push_eight:first-child {
  margin-left: 68.085216%;
}

/* line 380, ../../app/views/sass/gumby.hybrid.scss */
.row .push_nine:first-child {
  margin-left: 76.596868%;
}

/* line 381, ../../app/views/sass/gumby.hybrid.scss */
.row .push_ten:first-child {
  margin-left: 85.10652%;
}

/* line 382, ../../app/views/sass/gumby.hybrid.scss */
.row .push_eleven:first-child {
  margin-left: 93.617172%;
}

/*************** 16-column styles ****************/
/* line 389, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .one.columns {
  width: 4.255326%;
}

/* line 390, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .two.columns {
  width: 10.638315%;
}

/* line 391, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .three.columns {
  width: 17.021304%;
}

/* line 392, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .four.columns {
  width: 23.404293%;
}

/* line 393, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .five.columns {
  width: 29.787282%;
}

/* line 394, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .six.columns {
  width: 36.170271%;
}

/* line 395, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .seven.columns {
  width: 42.55326%;
}

/* line 396, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .eight.columns {
  width: 48.936249%;
}

/* line 397, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .nine.columns {
  width: 55.319238%;
}

/* line 398, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .ten.columns {
  width: 61.702227%;
}

/* line 399, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .eleven.columns {
  width: 68.085216%;
}

/* line 400, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .twelve.columns {
  width: 74.468205%;
}

/* line 401, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .thirteen.columns {
  width: 80.851194%;
}

/* line 402, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .fourteen.columns {
  width: 87.234183%;
}

/* line 403, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .fifteen.columns {
  width: 93.617172%;
}

/* line 404, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .sixteen.columns {
  width: 100%;
}

/*** Formula: Column Width + Twice the Default Margin ***/
/* line 409, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_one {
  margin-left: 8.510652%;
}

/* line 410, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_two {
  margin-left: 14.893641%;
}

/* line 411, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_three {
  margin-left: 21.27663%;
}

/* line 412, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_four {
  margin-left: 27.659619%;
}

/* line 413, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_five {
  margin-left: 34.042608%;
}

/* line 414, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_six {
  margin-left: 40.425597%;
}

/* line 415, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_seven {
  margin-left: 46.808586%;
}

/* line 416, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_eight {
  margin-left: 53.191575%;
}

/* line 417, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_nine {
  margin-left: 59.574564%;
}

/* line 418, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_ten {
  margin-left: 65.957553%;
}

/* line 419, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_eleven {
  margin-left: 72.340542%;
}

/* line 420, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_twelve {
  margin-left: 78.723531%;
}

/* line 421, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_thirteen {
  margin-left: 85.10652%;
}

/* line 422, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_fourteen {
  margin-left: 91.489509%;
}

/* line 423, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_fifteen {
  margin-left: 97.872498%;
}

/* Centering Columns is fun */
/* line 428, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .one.centered {
  margin-left: 47.872424%;
}

/* line 429, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .two.centered {
  margin-left: 44.680929%;
}

/* line 430, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .three.centered {
  margin-left: 41.489434%;
}

/* line 431, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .four.centered {
  margin-left: 38.297939%;
}

/* line 432, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .five.centered {
  margin-left: 35.106444%;
}

/* line 433, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .six.centered {
  margin-left: 31.914949%;
}

/* line 434, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .seven.centered {
  margin-left: 28.723454%;
}

/* line 435, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .eight.centered {
  margin-left: 25.531959%;
}

/* line 436, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .nine.centered {
  margin-left: 22.340464%;
}

/* line 437, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .ten.centered {
  margin-left: 19.148969%;
}

/* line 438, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .eleven.centered {
  margin-left: 15.957474%;
}

/* line 439, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .twelve.centered {
  margin-left: 12.765979%;
}

/* line 440, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .thirteen.centered {
  margin-left: 9.574484%;
}

/* line 441, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .fourteen.centered {
  margin-left: 6.382989%;
}

/* line 442, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .fifteen.centered {
  margin-left: 3.191495%;
}

/*** Formula: Column Width + Default Margin ***/
/* line 447, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_one:first-child {
  margin-left: 6.382989%;
}

/* line 448, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_two:first-child {
  margin-left: 12.765978%;
}

/* line 449, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_three:first-child {
  margin-left: 19.148967%;
}

/* line 450, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_four:first-child {
  margin-left: 25.531956%;
}

/* line 451, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_five:first-child {
  margin-left: 31.914945%;
}

/* line 452, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_six:first-child {
  margin-left: 38.297934%;
}

/* line 453, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_seven:first-child {
  margin-left: 44.680923%;
}

/* line 454, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_eight:first-child {
  margin-left: 51.063912%;
}

/* line 455, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_nine:first-child {
  margin-left: 57.446901%;
}

/* line 456, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_ten:first-child {
  margin-left: 63.82989%;
}

/* line 457, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_eleven:first-child {
  margin-left: 70.212879%;
}

/* line 458, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_twelve:first-child {
  margin-left: 76.595868%;
}

/* line 459, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_thirteen:first-child {
  margin-left: 82.978857%;
}

/* line 460, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_fourteen:first-child {
  margin-left: 89.361846%;
}

/* line 461, ../../app/views/sass/gumby.hybrid.scss */
.sixteen.colgrid .row .push_fifteen:first-child {
  margin-left: 95.744835%;
}

/* line 465, ../../app/views/sass/gumby.hybrid.scss */
img, object, embed {
  max-width: 100%;
  height: auto;
}

/* line 466, ../../app/views/sass/gumby.hybrid.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* Nicolas Gallagher's micro clearfix */
/* line 469, ../../app/views/sass/gumby.hybrid.scss */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 470, ../../app/views/sass/gumby.hybrid.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* line 471, ../../app/views/sass/gumby.hybrid.scss */
.row, .clearfix {
  zoom: 1;
}

/*=======================================================================

        ❤❤❤ Artfully Masterminded by ZURB. Perfected by Digital Surgeons. ❤❤❤
 
 ========================================================================*/
/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	-------------------------------------------------- 
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li { margin-left: 4%; width: 46%; }
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li { margin-left: 2%; width: 31.3%; }
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li { margin-left: 2%; width: 23%; }
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; } */
/*==================================================

	+++ Grid +++
	
===================================================*/
/* Mobile */
@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and under go here */
  /* line 519, ../../app/views/sass/gumby.hybrid.scss */
  .row {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  /* line 525, ../../app/views/sass/gumby.hybrid.scss */
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 527, ../../app/views/sass/gumby.hybrid.scss */
  .container {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 528, ../../app/views/sass/gumby.hybrid.scss */
  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 529, ../../app/views/sass/gumby.hybrid.scss */
  .row .row .column, .row .row .columns {
    padding: 0;
  }

  /* line 530, ../../app/views/sass/gumby.hybrid.scss */
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 531, ../../app/views/sass/gumby.hybrid.scss */
  .column:last-child, .columns:last-child {
    margin-right: 0;
    float: none;
  }

  /* line 532, ../../app/views/sass/gumby.hybrid.scss */
  .row .row .column, .row .row .columns {
    padding: 0;
  }

  /* line 533, ../../app/views/sass/gumby.hybrid.scss */
  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 534, ../../app/views/sass/gumby.hybrid.scss */
  .column:last-child, .columns:last-child {
    margin-right: 0;
    float: none;
  }

  /* line 535, ../../app/views/sass/gumby.hybrid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }

  /* line 536, ../../app/views/sass/gumby.hybrid.scss */
  [class*="column"]:before, [class*="column"]:after {
    display: table;
  }

  /* line 537, ../../app/views/sass/gumby.hybrid.scss */
  [class*="column"]:after {
    clear: both;
  }

  /* line 540, ../../app/views/sass/gumby.hybrid.scss */
  .push_one, .push_two, .push_three, .push_four, .push_five, .push_six, .push_seven, .push_eight, .push_nine, .push_ten, .push_eleven, .centered {
    margin-left: 0% !important;
  }
}
