@charset "utf-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 41, ../../app/views/sass/style.scss */
html {
  height: 100%;
}

/* line 45, ../../app/views/sass/style.scss */
body {
  background: #333;
  color: #ccc;
  font-size: 1em;
  height: 100%;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 76, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 86, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body p + p {
  text-indent: 0;
}
/* line 78, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p.incr,
body .incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 13, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 14, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .dquo {
  margin-left: -0.5em;
}
/* line 15, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .alt {
  color: #666666;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
}
/* line 4, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 60, ../../app/views/sass/style.scss */
body p + p {
  margin: auto;
}

/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 68, ../../app/views/sass/style.scss */
form fieldset {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 71, ../../app/views/sass/style.scss */
form fieldset label {
  text-align: right;
  width: 20%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form fieldset label {
  *display: inline;
}
/* line 77, ../../app/views/sass/style.scss */
form fieldset label.form-radio {
  width: auto;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* line 91, ../../app/views/sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 104, ../../app/views/sass/style.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 112, ../../app/views/sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 122, ../../app/views/sass/style.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 130, ../../app/views/sass/style.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 141, ../../app/views/sass/style.scss */
a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: rgba(255, 255, 255, 0.75);
}
/* line 21, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: rgba(255, 255, 255, 0.75);
}
/* line 24, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: rgba(255, 0, 0, 0.8);
}
/* line 27, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: rgba(255, 255, 255, 0.75);
}

/* line 147, ../../app/views/sass/style.scss */
a:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

/* line 152, ../../app/views/sass/style.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 158, ../../app/views/sass/style.scss */
p {
  line-height: 2em;
}

/* line 173, ../../app/views/sass/style.scss */
h2, h3, h4, h5, h6, h7 {
  -moz-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* line 178, ../../app/views/sass/style.scss */
h1 {
  font-size: 2em;
  line-height: 2em;
}

/* line 184, ../../app/views/sass/style.scss */
h2 {
  font-size: 2em;
  line-height: 2em;
}

/* line 190, ../../app/views/sass/style.scss */
h3 {
  font-size: 1.8em;
  line-height: 1.2em;
}

/* line 196, ../../app/views/sass/style.scss */
h4 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 202, ../../app/views/sass/style.scss */
body .container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: left;
}

/* line 207, ../../app/views/sass/style.scss */
body .header {
  position: fixed;
  top: 0;
  width: 100%;
  background: url('/./src/pub/img/rgbapng/0000007f.png?1352169703');
  background: rgba(0, 0, 0, 0.5);
}

/* line 214, ../../app/views/sass/style.scss */
body .main-navigation {
  position: fixed;
  top: 64px;
  width: 100%;
  background: url('/./src/pub/img/rgbapng/0000007f.png?1352169703');
  background: rgba(0, 0, 0, 0.5);
}

/* line 221, ../../app/views/sass/style.scss */
body .main-content {
  margin-top: 6em;
}

/* line 226, ../../app/views/sass/style.scss */
.nav li {
  list-style: none;
  padding: 0 10px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav li {
  *display: inline;
}
/* line 234, ../../app/views/sass/style.scss */
.nav li a {
  text-align: center;
  width: auto;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-weight: normal;
  color: white;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav li a {
  *display: inline;
}
/* line 244, ../../app/views/sass/style.scss */
.nav li.active a {
  color: #f00;
}

/* line 250, ../../app/views/sass/style.scss */
.flash-messages ul {
  margin: 0;
}
/* line 253, ../../app/views/sass/style.scss */
.flash-messages li {
  list-style: none;
}

/* line 258, ../../app/views/sass/style.scss */
ul.actions {
  padding: 5px;
  margin: 0;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-weight: bold;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.actions {
  *display: inline;
}
/* line 268, ../../app/views/sass/style.scss */
ul.actions li {
  vertical-align: middle;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.actions li {
  *display: inline;
}
/* line 272, ../../app/views/sass/style.scss */
ul.actions li a {
  padding: 5px;
  font-size: 0.8em;
}

/* line 282, ../../app/views/sass/style.scss */
.competition-item
, .athlete-item
, .event-item
, .score-item {
  margin: 1em 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 287, ../../app/views/sass/style.scss */
.competition-item
h3, .athlete-item
h3, .event-item
h3, .score-item h3 {
  margin: 0;
  padding: 0.5em 0;
}

/* line 293, ../../app/views/sass/style.scss */
.details {
  display: none;
  position: absolute;
  background: #222;
  color: #fff;
  padding: 1em;
  font-size: 0.8em;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
/* line 303, ../../app/views/sass/style.scss */
.details li {
  list-style: none;
}

/* line 308, ../../app/views/sass/style.scss */
.striped {
  background: rgba(0, 0, 0, 0.05);
}

/* line 313, ../../app/views/sass/style.scss */
.page-content {
  height: 100%;
  width: auto;
  font-size: 0.9em;
  overflow-x: hidden;
}

/* line 321, ../../app/views/sass/style.scss */
.filtered {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

/* line 327, ../../app/views/sass/style.scss */
.filtered .alt {
  color: rgba(0, 0, 0, 0.8);
}

/* line 332, ../../app/views/sass/style.scss */
.data-table {
  width: 100%;
  -moz-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 336, ../../app/views/sass/style.scss */
.data-table .athlete-name {
  white-space: nowrap;
  text-align: right;
}
/* line 341, ../../app/views/sass/style.scss */
.data-table .filtered {
  color: #111;
}
/* line 344, ../../app/views/sass/style.scss */
.data-table .filtered a {
  color: #111;
}

/* line 361, ../../app/views/sass/style.scss */
.data-table th {
  text-align: center;
  color: #fff;
  padding: 5px 0;
  -moz-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8) inset;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 367, ../../app/views/sass/style.scss */
.data-table th p {
  line-height: 1em;
}

/* line 375, ../../app/views/sass/style.scss */
.data-table td {
  vertical-align: middle;
  padding: 5px;
  text-align: center;
}

/* line 387, ../../app/views/sass/style.scss */
.data-table tr:hover {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 393, ../../app/views/sass/style.scss */
.leaderboards-table .rank {
  width: auto;
  max-width: 2em;
  text-align: right;
}

/* line 406, ../../app/views/sass/style.scss */
.paginationControl {
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.09) inset, 0 1px 0 rgba(255, 255, 255, 0.09);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 420, ../../app/views/sass/style.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 428, ../../app/views/sass/style.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 439, ../../app/views/sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}
